.sidebar {
  position: sticky;
  /* height: 100%; */
  right: 0;
  /* bottom: 0; */
  background-color: var(--pink-pastill-deeper);
  /* flex: 1; */
  
}
.sidebar-title {
  color: var(--white-50);
  font-size: 1.4rem;
  text-align: right;
  border-bottom: 2px solid var(--pink-pastill);
  padding: 20px;
}

.sidebar-links {
  margin-top: 20px;
}
.sidebar-links a {
  display: flex;
  padding: 20px;
  position: relative;
}
.sidebar-links a.active {
  background-color: var(--pink-pastill-deep);
  color: deeppink;
}

.sidebar-links a:first-child {
  margin-bottom: 20px;
}

.sidebar-icon{
    margin-left: 10px;
    font-size: 1.3rem;
    color: var(--pink-salt);
}

.sidebar-links  a{
  text-decoration: none;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.3rem;
}
.sidebar-links  a:hover{
  color: deeppink;
  transition: all .3s;
  background-color: var(--pink-pastill-deep);
}

@media screen and (max-width:1024px){
  .sidebar-title{
    text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;

  }
}

@media screen and (max-width:800px){
  .sidebar-title{
  font-size: 1.4rem;
  }
}