.users-title{
    font-size: 1.5rem;
    margin:20px;
}

.btn-close-user{
    width: 100%;
    margin-top: 20px;
    border-radius: 0;
}
.btn-close-user:hover{
    background: deeppink;
    
}
.edit-user-info-input-group {
    display: flex;
    align-items: center;
    column-gap: 5px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 0 12px;
    margin-top: 10px;
  }
  
  .edit-user-info-input {
    outline: none;
    border: none;
    background-color: unset;
    padding: 6px 8px;
    font-size: .9rem;
    width: 100%;
  }
  .btn-user{
    padding: 5px 12px;
    margin: 2px;
    border: none;
    outline: none;
    background-color: var(--pink-pastill-deeper);
    color: var(--white);
    transition: all 0.3s;
}

.btn-user:hover{background-color: deeppink;}

.btn-close-user{
    width: 100%;
    margin-top: 20px;
    border-radius: 0;
    transition: all .4s;
    border: none;
    outline: none;
    background: var(--pink-pastill-deeper);
    color: var(--white);
    padding: 10px;
}
.btn-close-user:hover{
    background: deeppink;
    
}

@media screen and (max-width:1200px) {
    .user-tr td.btn-user{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .btn-view-user{
        padding: 6px 14px;
        font-size: 13px;
    
    }
  }
  
  @media screen and (max-width:630px) {

    .heading-table th{
      padding: 5px !important;
      font-size: 14px !important;
      vertical-align: middle;   
      font-size: 13px;  
    }
    tr.user-tr td{
      padding: 5px !important;
      font-size: 12px !important;
    }
    .btn-user{
      padding: 5px 12px !important;
      margin-right: 3px !important;
      font-size: 10px;
    }
    .td-email{display: none;}
  
  }
  
  @media screen and (max-width:450px) {
    .btn-user {
      padding: 6px 12px;
    }
    .heading-table th{
        padding: 2px !important;
        font-size: 10 !important;}
    tr.user-tr td{
            padding: 5px !important;
            font-size: 10px !important;
          }
  }
  
  @media screen and (max-width:380px) {
    .btn-user {
      padding: 4px 8px;
      font-size: 10px;
      font-weight: 100;
    }

}